
@{
    ViewBag.Title = "SSS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Title
{
    S.S.S.
}

@section Body
{

    <section class="row page_header">
        <div class="container">
            <h3>Sıkça Sorulan Sorular</h3>
            <ol class="breadcrumb">
                <li>@Html.ActionLink("Anasayfa", "Index", "Home")</a></li>
                <li class="active">S.S.S.</li>
            </ol>
        </div>
    </section>

    <section class="row faqs_content">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 faq_category">
                    <h4 class="menuTitle">Kategoriler</h4>
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#faqsT1" aria-controls="faqsT1" role="tab" data-toggle="tab">
                                <img src="~/images/icons/faqs/1.png" alt="" class="icon">Web ERP Hakkında
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="#faqsT2" aria-controls="faqsT2" role="tab" data-toggle="tab">
                                <img src="~/images/icons/faqs/2.png" alt="" class="icon">Bizim Hakkımızda
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="#faqsT3" aria-controls="faqsT3" role="tab" data-toggle="tab">
                                <img src="~/images/icons/faqs/3.png" alt="" class="icon">Geliştirme Seçenekleri
                            </a>
                        </li>
                        <!--
                        <li role="presentation"><a href="#faqsT4" aria-controls="faqsT4" role="tab" data-toggle="tab">
                            <img src="~/images/icons/faqs/4.png" alt="" class="icon">Domain Hosting
                        </a></li>
                        -->
                    </ul>
                </div>
                <div class="col-sm-9 faq_content">
                    <div class="tab-content">
                        <div class="tab-pane active" role="tabpanel" id="faqsT1">
                            <div class="media faq">
                                <div class="media-left">01</div>
                                <div class="media-body">
                                    <h4>What is a Dedicated IP?</h4>
                                    <p>Nam in justo tempus varius leo siame tempor odio sed veid ornarec libero viva acsod orna libero vivamusodal torto estibul tincidunt turpis id act accumsan semper.tempor odio sed veid ornarec libero viva acsod orna libero vivamusodal torto estibul nt turpis id act accumsan semper.</p>
                                </div>
                            </div>
                            <div class="media faq">
                                <div class="media-left">02</div>
                                <div class="media-body">
                                    <h4>HOW DO I TRANSFER WEB PAGES TO SERVER?</h4>
                                    <p>Nam in justo tempus varius leo siame tempor odio sed veid ornarec libero viva acsod orna libero vivamusodal torto estibul tincidunt turpis id act accumsan semper.tempor odio sed veid ornarec libero viva acsod orna libero vivamusodal torto estibul nt turpis id act accumsan semper.</p>
                                </div>
                            </div>
                            <div class="media faq">
                                <div class="media-left">03</div>
                                <div class="media-body">
                                    <h4>PURCHASED A HOSTING, NOW WHAT DO I DO?</h4>
                                    <p>Nam in justo tempus varius leo siame tempor odio sed veid ornarec libero viva acsod orna libero vivamusodal torto estibul tincidunt turpis id act accumsan semper.tempor odio sed veid ornarec libero viva acsod orna libero vivamusodal torto estibul nt turpis id act accumsan semper.</p>
                                </div>
                            </div>
                            <div class="media faq">
                                <div class="media-left">04</div>
                                <div class="media-body">
                                    <h4>How do I purchase a Dedicated Hosting for my hosting account?</h4>
                                    <p>Nam in justo tempus varius leo siame tempor odio sed veid ornarec libero viva acsod orna libero vivamusodal torto estibul tincidunt turpis id act accumsan semper.tempor odio sed veid ornarec libero viva acsod orna libero vivamusodal torto estibul nt turpis id act accumsan semper.</p>
                                </div>
                            </div>
                            <div class="media faq">
                                <div class="media-left">05</div>
                                <div class="media-body">
                                    <h4>WHAT KIND OF WEB HOSTING PLAN DO I NEED?</h4>
                                    <p>Nam in justo tempus varius leo siame tempor odio sed veid ornarec libero viva acsod orna libero vivamusodal torto estibul tincidunt turpis id act accumsan semper.tempor odio sed veid ornarec libero viva acsod orna libero vivamusodal torto estibul nt turpis id act accumsan semper.</p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" role="tabpanel" id="faqsT2">
                            <div class="media faq">
                                <div class="media-left">01</div>
                                <div class="media-body">
                                    <h4>What is a Shared IP?</h4>
                                    <p>Nam in justo tempus varius leo siame tempor odio sed veid ornarec libero viva acsod orna libero vivamusodal torto estibul tincidunt turpis id act accumsan semper.tempor odio sed veid ornarec libero viva acsod orna libero vivamusodal torto estibul nt turpis id act accumsan semper.</p>
                                </div>
                            </div>
                            <div class="media faq">
                                <div class="media-left">02</div>
                                <div class="media-body">
                                    <h4>HOW DO I TRANSFER WEB PAGES TO SERVER?</h4>
                                    <p>Nam in justo tempus varius leo siame tempor odio sed veid ornarec libero viva acsod orna libero vivamusodal torto estibul tincidunt turpis id act accumsan semper.tempor odio sed veid ornarec libero viva acsod orna libero vivamusodal torto estibul nt turpis id act accumsan semper.</p>
                                </div>
                            </div>
                            <div class="media faq">
                                <div class="media-left">03</div>
                                <div class="media-body">
                                    <h4>PURCHASED A HOSTING, NOW WHAT DO I DO?</h4>
                                    <p>Nam in justo tempus varius leo siame tempor odio sed veid ornarec libero viva acsod orna libero vivamusodal torto estibul tincidunt turpis id act accumsan semper.tempor odio sed veid ornarec libero viva acsod orna libero vivamusodal torto estibul nt turpis id act accumsan semper.</p>
                                </div>
                            </div>
                            <div class="media faq">
                                <div class="media-left">04</div>
                                <div class="media-body">
                                    <h4>How do I purchase a Dedicated Hosting for my hosting account?</h4>
                                    <p>Nam in justo tempus varius leo siame tempor odio sed veid ornarec libero viva acsod orna libero vivamusodal torto estibul tincidunt turpis id act accumsan semper.tempor odio sed veid ornarec libero viva acsod orna libero vivamusodal torto estibul nt turpis id act accumsan semper.</p>
                                </div>
                            </div>
                            <div class="media faq">
                                <div class="media-left">05</div>
                                <div class="media-body">
                                    <h4>WHAT KIND OF WEB HOSTING PLAN DO I NEED?</h4>
                                    <p>Nam in justo tempus varius leo siame tempor odio sed veid ornarec libero viva acsod orna libero vivamusodal torto estibul tincidunt turpis id act accumsan semper.tempor odio sed veid ornarec libero viva acsod orna libero vivamusodal torto estibul nt turpis id act accumsan semper.</p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" role="tabpanel" id="faqsT3">
                            <div class="media faq">
                                <div class="media-left">01</div>
                                <div class="media-body">
                                    <h4>What is a Reseller IP?</h4>
                                    <p>Nam in justo tempus varius leo siame tempor odio sed veid ornarec libero viva acsod orna libero vivamusodal torto estibul tincidunt turpis id act accumsan semper.tempor odio sed veid ornarec libero viva acsod orna libero vivamusodal torto estibul nt turpis id act accumsan semper.</p>
                                </div>
                            </div>
                            <div class="media faq">
                                <div class="media-left">02</div>
                                <div class="media-body">
                                    <h4>HOW DO I TRANSFER WEB PAGES TO SERVER?</h4>
                                    <p>Nam in justo tempus varius leo siame tempor odio sed veid ornarec libero viva acsod orna libero vivamusodal torto estibul tincidunt turpis id act accumsan semper.tempor odio sed veid ornarec libero viva acsod orna libero vivamusodal torto estibul nt turpis id act accumsan semper.</p>
                                </div>
                            </div>
                            <div class="media faq">
                                <div class="media-left">03</div>
                                <div class="media-body">
                                    <h4>PURCHASED A HOSTING, NOW WHAT DO I DO?</h4>
                                    <p>Nam in justo tempus varius leo siame tempor odio sed veid ornarec libero viva acsod orna libero vivamusodal torto estibul tincidunt turpis id act accumsan semper.tempor odio sed veid ornarec libero viva acsod orna libero vivamusodal torto estibul nt turpis id act accumsan semper.</p>
                                </div>
                            </div>
                            <div class="media faq">
                                <div class="media-left">04</div>
                                <div class="media-body">
                                    <h4>How do I purchase a Dedicated Hosting for my hosting account?</h4>
                                    <p>Nam in justo tempus varius leo siame tempor odio sed veid ornarec libero viva acsod orna libero vivamusodal torto estibul tincidunt turpis id act accumsan semper.tempor odio sed veid ornarec libero viva acsod orna libero vivamusodal torto estibul nt turpis id act accumsan semper.</p>
                                </div>
                            </div>
                            <div class="media faq">
                                <div class="media-left">05</div>
                                <div class="media-body">
                                    <h4>WHAT KIND OF WEB HOSTING PLAN DO I NEED?</h4>
                                    <p>Nam in justo tempus varius leo siame tempor odio sed veid ornarec libero viva acsod orna libero vivamusodal torto estibul tincidunt turpis id act accumsan semper.tempor odio sed veid ornarec libero viva acsod orna libero vivamusodal torto estibul nt turpis id act accumsan semper.</p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" role="tabpanel" id="faqsT4">
                            <div class="media faq">
                                <div class="media-left">01</div>
                                <div class="media-body">
                                    <h4>What is a Domain?</h4>
                                    <p>Nam in justo tempus varius leo siame tempor odio sed veid ornarec libero viva acsod orna libero vivamusodal torto estibul tincidunt turpis id act accumsan semper.tempor odio sed veid ornarec libero viva acsod orna libero vivamusodal torto estibul nt turpis id act accumsan semper.</p>
                                </div>
                            </div>
                            <div class="media faq">
                                <div class="media-left">02</div>
                                <div class="media-body">
                                    <h4>HOW DO I TRANSFER WEB PAGES TO SERVER?</h4>
                                    <p>Nam in justo tempus varius leo siame tempor odio sed veid ornarec libero viva acsod orna libero vivamusodal torto estibul tincidunt turpis id act accumsan semper.tempor odio sed veid ornarec libero viva acsod orna libero vivamusodal torto estibul nt turpis id act accumsan semper.</p>
                                </div>
                            </div>
                            <div class="media faq">
                                <div class="media-left">03</div>
                                <div class="media-body">
                                    <h4>PURCHASED A HOSTING, NOW WHAT DO I DO?</h4>
                                    <p>Nam in justo tempus varius leo siame tempor odio sed veid ornarec libero viva acsod orna libero vivamusodal torto estibul tincidunt turpis id act accumsan semper.tempor odio sed veid ornarec libero viva acsod orna libero vivamusodal torto estibul nt turpis id act accumsan semper.</p>
                                </div>
                            </div>
                            <div class="media faq">
                                <div class="media-left">04</div>
                                <div class="media-body">
                                    <h4>How do I purchase a Dedicated Hosting for my hosting account?</h4>
                                    <p>Nam in justo tempus varius leo siame tempor odio sed veid ornarec libero viva acsod orna libero vivamusodal torto estibul tincidunt turpis id act accumsan semper.tempor odio sed veid ornarec libero viva acsod orna libero vivamusodal torto estibul nt turpis id act accumsan semper.</p>
                                </div>
                            </div>
                            <div class="media faq">
                                <div class="media-left">05</div>
                                <div class="media-body">
                                    <h4>WHAT KIND OF WEB HOSTING PLAN DO I NEED?</h4>
                                    <p>Nam in justo tempus varius leo siame tempor odio sed veid ornarec libero viva acsod orna libero vivamusodal torto estibul tincidunt turpis id act accumsan semper.tempor odio sed veid ornarec libero viva acsod orna libero vivamusodal torto estibul nt turpis id act accumsan semper.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

}
