
@{
    ViewBag.Title = "OurTeam";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Title
{
    Bizim Takım
}

@section Body
{

    <section class="row page_header">
        <div class="container">
            <h3>Bizim Takım</h3>
            <ol class="breadcrumb">
                <li>@Html.ActionLink("Anasayfa", "Index", "Home")</li>
                <li class="active">Bizim Takım</li>
            </ol>
        </div>
    </section>

    <section class="row team_section">
        <div class="container">
            <div class="row sectionTitle">
                <h5>Biz Kimiz  &amp;</h5>
                <h2>Bizim Takımımız</h2>
            </div>
            <div class="row">
                <div class="col-sm-4 team_member">
                    <div class="row m0 inner">
                        <div class="row m0 image"><img src="~/images/team/1.png" alt=""></div>
                        <h4 class="title">Mete KAPAN</h4>
                        <h6 class="desig">founder &amp; director</h6>
                        <p class="nState">Vivamus finibus quam vitae pulvina adipiscing elit.</p>
                        <p class="hState">Vivamus finibus quam vitae pulvina adipiscing elit.vamus finibus quam vitae pulvina adipiscing elit.vamus finibus quam vitae pulvina adipiscing elit.vamus finibus quam vitae pulvina adipiscing elit.</p>
                        <ul class="list-unstyled">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4 team_member">
                    <div class="row m0 inner">
                        <div class="row m0 image"><img src="~/images/team/6.png" alt=""></div>
                        <h4 class="title">Lina Ray</h4>
                        <h6 class="desig">ceo</h6>
                        <p class="nState">Vivamus finibus quam vitae pulvina adipiscing elit.</p>
                        <p class="hState">Vivamus finibus quam vitae pulvina adipiscing elit.vamus finibus quam vitae pulvina adipiscing elit.vamus finibus quam vitae pulvina adipiscing elit.vamus finibus quam vitae pulvina adipiscing elit.</p>
                        <ul class="list-unstyled">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4 team_member">
                    <div class="row m0 inner">
                        <div class="row m0 image"><img src="~/images/team/2.png" alt=""></div>
                        <h4 class="title">steave hoffel</h4>
                        <h6 class="desig">head-manager</h6>
                        <p class="nState">Vivamus finibus quam vitae pulvina adipiscing elit.</p>
                        <p class="hState">Vivamus finibus quam vitae pulvina adipiscing elit.vamus finibus quam vitae pulvina adipiscing elit.vamus finibus quam vitae pulvina adipiscing elit.vamus finibus quam vitae pulvina adipiscing elit.</p>
                        <ul class="list-unstyled">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4 team_member">
                    <div class="row m0 inner">
                        <div class="row m0 image"><img src="~/images/team/3.png" alt=""></div>
                        <h4 class="title">seaff cafel</h4>
                        <h6 class="desig">manager</h6>
                        <p class="nState">Vivamus finibus quam vitae pulvina adipiscing elit.</p>
                        <p class="hState">Vivamus finibus quam vitae pulvina adipiscing elit.vamus finibus quam vitae pulvina adipiscing elit.vamus finibus quam vitae pulvina adipiscing elit.vamus finibus quam vitae pulvina adipiscing elit.</p>
                        <ul class="list-unstyled">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4 team_member">
                    <div class="row m0 inner">
                        <div class="row m0 image"><img src="~/images/team/4.png" alt=""></div>
                        <h4 class="title">vicky dorren</h4>
                        <h6 class="desig">manager</h6>
                        <p class="nState">Vivamus finibus quam vitae pulvina adipiscing elit.</p>
                        <p class="hState">Vivamus finibus quam vitae pulvina adipiscing elit.vamus finibus quam vitae pulvina adipiscing elit.vamus finibus quam vitae pulvina adipiscing elit.vamus finibus quam vitae pulvina adipiscing elit.</p>
                        <ul class="list-unstyled">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4 team_member">
                    <div class="row m0 inner">
                        <div class="row m0 image"><img src="~/images/team/5.png" alt=""></div>
                        <h4 class="title">missel hen</h4>
                        <h6 class="desig">supersior</h6>
                        <p class="nState">Vivamus finibus quam vitae pulvina adipiscing elit.</p>
                        <p class="hState">Vivamus finibus quam vitae pulvina adipiscing elit.vamus finibus quam vitae pulvina adipiscing elit.vamus finibus quam vitae pulvina adipiscing elit.vamus finibus quam vitae pulvina adipiscing elit.</p>
                        <ul class="list-unstyled">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

}

