
@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Title
{
    Blog Sayfası
}

@section Body
{

    <section class="row page_header">
        <div class="container">
            <h3 class="transparan">Blog</h3>
            <ol class="breadcrumb">
                <li>@Html.ActionLink("Anasayfa", "Index", "Home")</li>
                <li class="active">Blog</li>
            </ol>
        </div>
    </section>

    <section class="row blog_content">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 blogs">
                    <div class="row m0 blog">
                        <div class="row m0 image"><a href="single.html"><img src="~/images/posts/blog/1.jpg" alt="asdasdasd"></a></div>
                        <ul class="blog_infos nav">
                            <li><a href="#"><i class="fa fa-calendar"></i>19 May, 2015</a></li>
                            <li><a href="#"><i class="fa fa-comment"></i>(3) comments</a></li>
                        </ul>
                        <h3><a href="single.html">image post for vps hosting</a></h3>
                        <p>Lorem ipsums doloraaaaaaaaa sit amet consectetur adipiscing elit integer lacinia
                        malesuada justo vestibulum orci tristique non nunc nonc ultricies enim ut accumsan dolor
                        nullam dapibus rhonus vehicula sed  diam porta tellus nec lacinia lacus vivamus placerat 
                        elit.</p>
                        <a href="single.html" class="btn btn-primary">Daha Fazla</a>
                    </div>
                    <hr class="blog_bottom_line">
                    <div class="row m0 blog">
                        <div class="row m0 image">
                            <div id="gallery-post" class="carousel slide" data-ride="carousel">
                                <!-- Wrapper for slides -->
                                <div class="carousel-inner" role="listbox">
                                    <div class="item active">
                                        <img src="~/images/posts/blog/2.jpg" alt="...">
                                    </div>
                                    <div class="item">
                                        <img src="~/images/posts/blog/4.jpg" alt="...">
                                    </div>
                                </div>

                                <!-- Controls -->
                                <a class="left carousel-control" href="#gallery-post" role="button" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                    <span class="sr-only">Geri</span>
                                </a>
                                <a class="right carousel-control" href="#gallery-post" role="button" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                    <span class="sr-only">İleri</span>
                                </a>
                            </div>
                        </div>
                        <ul class="blog_infos nav">
                            <li><a href="#"><i class="fa fa-calendar"></i>19 May, 2015</a></li>
                            <li><a href="#"><i class="fa fa-comment"></i>(3) comments</a></li>
                        </ul>
                        <h3><a href="single.html">gallery post for vps hosting</a></h3>
                        <p>Lorem ipsums dolor sit amet consectetur adipiscing elit integer lacinia malesuada justo vestibulum orci tristique non nunc nonc ultricies enim ut accumsan dolor nullam dapibus rhonus vehicula sed  diam porta tellus nec lacinia lacus vivamus placerat elit.</p>
                        <a href="single.html" class="btn btn-primary">Daha Fazla</a>
                    </div>
                    <hr class="blog_bottom_line">
                    <div class="row m0 blog">
                        <div class="row m0 image"><a href="single.html"><img src="~/images/posts/blog/1.jpg" alt=""><i class="fa fa-youtube-play"></i></a></div>
                        <ul class="blog_infos nav">
                            <li><a href="#"><i class="fa fa-calendar"></i>19 May, 2015</a></li>
                            <li><a href="#"><i class="fa fa-comment"></i>(3) comments</a></li>
                        </ul>
                        <h3><a href="single.html">video post for vps hosting</a></h3>
                        <p>Lorem ipsums dolor sit amet consectetur adipiscing elit integer lacinia malesuada justo vestibulum orci tristique non nunc nonc ultricies enim ut accumsan dolor nullam dapibus rhonus vehicula sed  diam porta tellus nec lacinia lacus vivamus placerat elit.</p>
                        <a href="single.html" class="btn btn-primary">Daha Fazla</a>
                    </div>
                    <hr class="blog_bottom_line">
                    <div class="row m0 blog quote_blog">
                        <div class="media">
                            <div class="media-left"><i class="fa fa-quote-left"></i></div>
                            <div class="media-body">
                                <p>Donec tristique non neque id eleifend etiamed non eseport ultrices risus nunc laoreet turpis non eleifend felis tortor quis di praesent feugiat nam orci quam tempus vitae erat turpis at.</p>
                                <div class="row m0 quote_writer">- David Hemley</div>
                            </div>
                        </div>
                    </div>
                    <hr class="blog_bottom_line">
                    <div class="row m0 blog">
                        <div class="row m0 image"><a href="single.html"><img src="~/images/posts/blog/1.jpg" alt=""><i class="fa fa-volume-up"></i></a></div>
                        <ul class="blog_infos nav">
                            <li><a href="#"><i class="fa fa-calendar"></i>19 May, 2015</a></li>
                            <li><a href="#"><i class="fa fa-comment"></i>(3) comments</a></li>
                        </ul>
                        <h3><a href="single.html">audio post for vps hosting</a></h3>
                        <p>Lorem ipsums dolor sit amet consectetur adipiscing elit integer lacinia malesuada justo vestibulum orci tristique non nunc nonc ultricies enim ut accumsan dolor nullam dapibus rhonus vehicula sed  diam porta tellus nec lacinia lacus vivamus placerat elit.</p>
                        <a href="single.html" class="btn btn-primary">Daha Fazla</a>
                    </div>
                    <hr class="blog_bottom_line">

                    <nav class="pagination_nav">
                        <ul class="pagination">
                            <li><a href="#" aria-label="Previous">Geri</a></li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#" aria-label="Next">İleri</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-sm-4 sidebar">
                    <div class="row m0 inner">
                        <form action="#" class="row m0 search_form">
                            <h4>Ara</h4>
                            <div class="input-group">
                                <input type="search" class="form-control" placeholder="Ara">
                                <span class="input-group-addon"><button type="submit"><i class="fa fa-search"></i></button></span>
                            </div>
                        </form>
                        <hr class="sidebar_line">
                        <div class="row m0 recent_posts">
                            <h4>
                                Yakın Zamandaki Gönderilenler
                            </h4>
                            <div class="post media">
                                <div class="media-left">
                                    <a href="single.html"><img src="~/images/posts/recent/1.jpg" alt=""></a>
                                </div>
                                <div class="media-body">
                                    <h5><a href="single.html">Lorem ipsums dolor sit amet consectetu</a></h5>
                                    <div class="row m0 date"><i class="fa fa-calendar"></i>19 may, 2015</div>
                                </div>
                            </div>
                            <div class="post media">
                                <div class="media-left">
                                    <a href="single.html"><img src="~/images/posts/recent/2.jpg" alt=""></a>
                                </div>
                                <div class="media-body">
                                    <h5><a href="single.html">Lorem ipsums dolor sit amet consectetu</a></h5>
                                    <div class="row m0 date"><i class="fa fa-calendar"></i>19 may, 2015</div>
                                </div>
                            </div>
                            <div class="post media">
                                <div class="media-left">
                                    <a href="single.html"><img src="~/images/posts/recent/3.jpg" alt=""></a>
                                </div>
                                <div class="media-body">
                                    <h5><a href="single.html">Lorem ipsums dolor sit amet consectetu</a></h5>
                                    <div class="row m0 date"><i class="fa fa-calendar"></i>19 may, 2015</div>
                                </div>
                            </div>
                        </div>
                        <hr class="sidebar_line">
                        <div class="row m0 Categories">
                            <h4>Kategoriler</h4>
                            <ul class="nav Categories_list">
                                <li><a href="#">Free data analysis <span>(11)</span></a></li>
                                <li><a href="#">Security <span>(16)</span></a></li>
                                <li><a href="#">Free domain transfer <span>(19)</span></a></li>
                                <li><a href="#">Free data analysis <span>(22)</span></a></li>
                                <li><a href="#">Technical support <span>(25)</span></a></li>
                                <li><a href="#">Free web optimization <span>(31)</span></a></li>
                            </ul>
                        </div>
                        <hr class="sidebar_line">
                        <div class="row m0 archives">
                            <h4>Arşiv</h4>
                            <ul class="nav archives_list">
                                <li><a href="#">Ocak <span>(11)</span></a></li>
                                <li><a href="#">Şubat <span>(16)</span></a></li>
                                <li><a href="#">Mart <span>(19)</span></a></li>
                                <li><a href="#">Nisan <span>(22)</span></a></li>
                                <li><a href="#">Mayıs <span>(25)</span></a></li>
                            </ul>
                        </div>
                        <hr class="sidebar_line">
                        <div class="row m0 tags_row">
                            <h4>Etiketler</h4>
                            <a href="#" class="tag">Vestibul</a>
                            <a href="#" class="tag">Justo temp orci</a>
                            <a href="#" class="tag">Pellent</a>
                            <a href="#" class="tag">Namc</a>
                            <a href="#" class="tag">Consequat elit</a>
                            <a href="#" class="tag">Vestibulum act</a>
                            <a href="#" class="tag">Consequat donctum</a>
                            <a href="#" class="tag">Elit</a>
                            <a href="#" class="tag">Molestie</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

}

